---
title: EnergyPlus CI Dashboard
---

<head>
	{% include common.html %}
    <style>
		/* tell the SVG path to be a thin blue line without any area fill */
		path {
		  stroke: steelblue;
		  stroke-width: 1;
		  fill: none;
		}
		body {
		  font-family: "Ubuntu";
		}
	</style>
</head>
 
{% for post in site.posts %}
  {% if post.pull_request_issue_id == "" and post.repository %}
    {% capture base_repository %}{{ post.repository }}{% endcapture %}
    {% capture results_repository %}{{ post.results_repository }}{% endcapture %}
    {% break %}
  {% endif %}
{% endfor %}

{% include common_variables.html %}

<body>
  <script>
var query = $.parseQuery();
function reloadPage(linux, windows, macos, activeonly)
{
  var loc = window.location.href.split('?')[0];
  window.location.href=loc + "?linux=" + linux + "&windows=" + windows + "&macos=" + macos + "&activeonly=" + activeonly;
}
var active_data_only = (query["activeonly"] || query["activeonly"] == null) && query["activeonly"] != "false";
if (active_data_only) {
  document.writeln("<ol class='breadcrumb'><li><a href='full_dashboard.html'>Full Dashboard</a></li><li>Active Dashboard</li><li><a href='performance.html'>Performance</a></li><li><a href='bot_health.html'>Bot Health</a></li></ol>");
} else {
  document.writeln("<ol class='breadcrumb'><li>Full Dashboard</li><li><a href='index.html'>Active Dashboard</a></li><li><a href='performance.html'>Performance</a></li><li><a href='bot_health.html'>Bot Health</a></li></ol>");
}
  </script>
  <div class="container-fluid">
  <script>
var width = 80;
var height = 25;
var x = d3.scale.linear().range([0, width - 2]);
var y = d3.scale.linear().range([height - 4, 0]);
var line = d3.svg.line()
  //  .interpolate("basis")
  .x(function(d) { return x(d.x); })
  .y(function(d) { return y(d.y); });

function sparkline(elemId, indata) {
  var data = [];

  for (var i = 0; i < indata.length; ++i){
    if (indata[i].x != null && indata[i].y != null && !isNaN(indata[i].x) && !isNaN(indata[i].y)) {
      data.push(indata[i]);
    }
  }

  x.domain(d3.extent(data, function(d) { return d.x; }));
  y.domain(d3.extent(data, function(d) { return d.y; }));

  var svg = d3.select(elemId)
    .append('svg')
    .attr('width', width)
    .attr('height', height)
    .append('g')
    .attr('transform', 'translate(0, 2)');

  svg.append('path')
    .datum(data)
    .attr('class', 'path')
    .attr('d', line);

  for (var i = 0; i < data.length; ++i)
  {
    svg.append('circle')
      .attr('class', 'circle')
      .attr('cx', x(data[i].x))
      .attr('cy', y(data[i].y))
      .attr('r', 1.7);

    if (i == 0)
    {
      var url = "{{ base_commit_url }}/" + data[i].sha;
    } else {
      var url = "{{ base_compare_url }}/" + data[i-1].sha + "..." + data[i].sha;
    }

    svg.append('a').attr("xlink:href", url)
      .append('circle')
      .attr('class', 'mouse-over-circle')
      .attr('cx', x(data[i].x))
      .attr('cy', y(data[i].y))
      .attr('r', 5.5)
      .append('svg:title')
      .text(data[i].y + " messages\nsha: " + data[i].sha);
  }
}
var num_sparklines = 0;
var status_types = {
  SUCCESS: 0,
  FAIL: 1,
  WARN: 2
}
var table_types = {
  BRANCH: 0,
  PULL_REQUEST: 1,
  RELEASE: 2
}
function build_status_table(table_type, table_data)
{
  var filtered_data = null;
  var table_name = "";
  var field_name = "";
  var github_icon = "";
  var base_url = "";
  if (table_type == table_types.BRANCH) {
    table_name = "Branches";
    filtered_data = table_data.filter(function(o) { return o.pull_request_issue_id == "" && o.is_release == false && o.branch_name != null });
    field_name = "branch_name";
    github_icon = "<img src=https://icongr.am/octicons/git-branch.svg?size=42&color=DB5700</img>";
    base_url = "{{ base_branch_url }}";
  } else if (table_type == table_types.PULL_REQUEST) {
    table_name = "PullRequests";
    filtered_data = table_data.filter(function(o) { return o.pull_request_issue_id != "" && o.is_release == false });
    field_name = "pull_request_issue_id";
    github_icon = "<img src=https://icongr.am/octicons/git-pull-request.svg?size=42&color=DB5700</img>";
    base_url = "{{ base_pull_request_url }}";
  } else if (table_type == table_types.RELEASE) {
    table_name = "Tags";
    filtered_data = table_data.filter(function(o) { return o.is_release == true});
    field_name = "tag_name";
    github_icon = "<img src=https://icongr.am/octicons/tag.svg?size=42&color=DB5700</img>";
    base_url = "{{ base_release_url }}";
  }
  for (var i = 0; i < filtered_data.length; ++i)
  {
	//console.log("Example of filtered data: ", filtered_data[i]);
    filtered_data[i].js_date = parseDate(filtered_data[i].date);
  }
  var min_date = new Date(0);
  var min_date_develop = new Date(0);
  if (active_data_only) {
    var max_date = new Date(0);
    for (var i = 0; i < filtered_data.length; ++i)
    {
      if (filtered_data[i].js_date >= max_date) {
        max_date = filtered_data[i].js_date;
      }
    }
    min_date = new Date(max_date - 3 * 24 * 60 * 60 * 1000);
    min_date_develop = new Date(max_date - 10 * 24 * 60 * 60 * 1000); // allow 10 days back for develop to keep develop on the dashboard longer
  }
  var allowed_devices = [];
  var allowed_keys = [];
  for (var i = 0; i < filtered_data.length; ++i)
  {
    if (filtered_data[i].js_date >= min_date || (filtered_data[i].branch_name == "develop" && filtered_data[i].js_date >= min_date_develop)) {
      if (allowed_devices.indexOf(filtered_data[i].device_id) == -1) {
        allowed_devices.push(filtered_data[i].device_id);
      }
      if (allowed_keys.indexOf(filtered_data[i][field_name]) == -1) {
        allowed_keys.push(filtered_data[i][field_name]);
      }
    }
  }
  filtered_data = filtered_data.filter(function(o) {
    return allowed_devices.indexOf(o.device_id) != -1 &&
      allowed_keys.indexOf(o[field_name]) != -1;
  });
  devices = {};
  for (var i = 0; i < filtered_data.length; ++i)
  {
    var device_id = filtered_data[i].device_id;
    if (!devices.hasOwnProperty(device_id)) {
      devices[device_id] = {build:false, test:false, package:false, coverage:false, performance:false};
    }
    devices[device_id].build = true;
    devices[device_id].test = devices[device_id].test || !filtered_data[i].analyze_only;
    devices[device_id].package = devices[device_id].package || (filtered_data[i].is_release && !filtered_data[i].packaging_skipped);
    devices[device_id].coverage = devices[device_id].coverage || filtered_data[i].coverage_enabled;
    devices[device_id].performance = devices[device_id].performance || (filtered_data[i].performance_total_time != null);
  }
  device_ids = [];
  for (var device_id in devices) {
    device_ids.push(device_id);
  }
  device_ids.sort();
  document.writeln("<br/>");
  document.writeln("<table class='table' style='border-bottom:2px solid gray;border-top:2px solid gray'>");

  // device ids

  document.writeln("<tr><th style='text-align: center; vertical-align: middle;'>" + github_icon + "</th>");
  for (var i = 0; i < device_ids.length; ++i)
  {
    var device_id = device_ids[i];

    var colspan = (devices[device_id].build?1:0) + (devices[device_id].test?1:0) + (devices[device_id].package?1:0) + (devices[device_id].coverage?1:0) + (devices[device_id].performance?1:0);
    var icon = osIcon(device_id);
    document.writeln("<th style='border-left:2px solid gray;' colspan=" + colspan + "><h4><b>" +
        icon + " " + device_id.replace(/-/g, " ") +
        "</b></h4></th>");
  }
  document.writeln("</tr>");

  // types of builds 
  document.writeln("<tr><td><b>" + table_name + "</b></td>");
  for (var i = 0; i < device_ids.length; ++i)
  {
    var device_id = device_ids[i];
    document.writeln("<td style='border-left:2px solid gray'><b>Build</b></td>");
    if (devices[device_id].test) {
      document.writeln("<td><b>Test</b></td>");
    }
    if (devices[device_id].package) {
      document.writeln("<td><b>Package</b></td>");
    }
    if (devices[device_id].coverage) {
      document.writeln("<td><b>Coverage</b></td>");
    }
    if (devices[device_id].performance) {
      document.writeln("<td><b>Performance</b></td>");
    }
  }
  document.writeln("</tr>");

  // builds

  var keys = [];

  var organized_data = {};

  for (var i = 0; i < filtered_data.length; ++i)
  {

    var key_name = filtered_data[i][field_name];

    if (keys.indexOf(key_name) == -1) {
      keys.push(key_name);
    }

    if (!organized_data.hasOwnProperty(key_name)) {
      organized_data[key_name] = {};
      organized_data[key_name].last_date = new Date(0);
      organized_data[key_name].last_sha = "";
    }

    var device_id = filtered_data[i].device_id;
    if (!organized_data[key_name].hasOwnProperty(device_id)) {
      organized_data[key_name][device_id] = {results: []};
    }
    if (organized_data[key_name].last_date < filtered_data[i].js_date) {
      organized_data[key_name].last_date = filtered_data[i].js_date;
      organized_data[key_name].last_sha = filtered_data[i].commit_sha;
    }

    var last_index = organized_data[key_name][device_id].results.push(filtered_data[i]) - 1;

    if (devices[device_id].build) {
      organized_data[key_name][device_id].results[last_index].build_status = function(){
        if (filtered_data[i].build_error_count > 0) {
          return status_types.FAIL;
        } else if (filtered_data[i].build_warning_count > 0) {
          return status_types.WARN;
        } else {
          return status_types.SUCCESS;
        }
      }();
    }

    if (devices[device_id].package) {
      organized_data[key_name][device_id].results[last_index].package_status = function(){
        if (filtered_data[i].package_error_count > 0) {
          return status_types.FAIL;
        } else if (filtered_data[i].package_warning_count > 0) {
          return status_types.WARN;
        } else {
          return status_types.SUCCESS;
        }
      }();
    }

    if (devices[device_id].coverage) {
      organized_data[key_name][device_id].results[last_index].coverage_status = function(){
        var coverage_percent = 100 * (filtered_data[i].coverage_lines / filtered_data[i].coverage_total_lines);
        if (coverage_percent >= filtered_data[i].coverage_pass_limit) {
          return status_types.SUCCESS;
        } else if (coverage_percent >= filtered_data[i].coverage_warn_limit) {
          return status_types.WARN;
        } else {
          return status_types.FAIL;
        }
      }();
    }



    if (devices[device_id].test) {
      organized_data[key_name][device_id].results[last_index].test_status = function(){
        if (filtered_data[i].test_run == false) {
          return status_types.FAIL;
        }

        var test_percent = (filtered_data[i].test_count == 0)?(100):(100 * (filtered_data[i].test_passed_count / filtered_data[i].test_count));
        var test_warn_limit = filtered_data[i].hasOwnProperty("test_warn_limit")?filtered_data[i].test_warn_limit:99.99;
        var test_pass_limit = filtered_data[i].hasOwnProperty("test_pass_limit")?filtered_data[i].test_pass_limit:90.00;

        if (test_percent >= test_warn_limit) {
          return status_types.SUCCESS;
        } else if (test_percent >= test_pass_limit) {
          return status_types.WARN;
        } else {
          return status_types.FAIL;
        }
      }();
    }
  }

  keys.sort(
      function(lhs, rhs) { 

        if (field_name != "branch_name" && $.isNumeric(lhs) && $.isNumeric(rhs)) {
          return lhs - rhs;
        }

        if (lhs == "master" && rhs != "master") {
          return -1;
        } else if (lhs == "develop" && rhs != "master" && rhs != "develop") {
          return -1;
        } else if (lhs != "master" && rhs == "master") {
          return 1;
        } else if (lhs != "develop" && lhs != "master" && rhs == "develop") {
          return 1;
        } else if (lhs < rhs) {
          return -1;
        } else if (lhs == rhs) {
          return 0;
        } else {
          return 1;
        }
      }

      );

  for (var i = 0; i < keys.length; ++i)
  {
    var key = keys[i];

    var key_status = status_types.SUCCESS;
    var key_pending = false;

    for (var j = 0; j < device_ids.length; ++j) {
      var device_id = device_ids[j];

      if (!organized_data[key].hasOwnProperty(device_id)) {
        organized_data[key][device_id] = {results: []};
      }

      organized_data[key][device_id].results.sort(
          function(lhs, rhs) {
            return lhs.js_date - rhs.js_date;
          }
          );

      var active_result = 
        function(){
          for (var k = 0; k < organized_data[key][device_id].results.length; ++k)
          {
            if (organized_data[key][device_id].results[k].commit_sha == organized_data[key].last_sha) {
              return [k, false];
            }
          }

          // else
          return [organized_data[key][device_id].results.length - 1, true];
        }();

      organized_data[key][device_id].active_result = active_result[0];
      organized_data[key][device_id].out_of_date = active_result[1];

      if (active_result[0] >= 0 && devices[device_id].performance && organized_data[key][device_id].results[active_result[0]].performance_total_time > 0) {

        var performance_slope = function(){
          var current_test_count = organized_data[key][device_id].results[organized_data[key][device_id].results.length - 1].performance_test_count;

          var values = [];
          for (var i = organized_data[key][device_id].results.length - 1; i >= 0; --i) {
            if (organized_data[key][device_id].results[i].performance_test_count == current_test_count) {
              values.unshift(organized_data[key][device_id].results[i].performance_total_time);
            } else {
              break;
            }
          }

          if (values.length <= 1) {
            return null;
          }

          y_min = values.reduce(function(prev, cur) { return Math.min(prev, cur) }, values[0]);

          values.forEach(function(element, index, array) {
            array[index] = element / y_min;
          });

          y_mean = values.reduce(function(prev,cur) { return prev + cur; }, 0) / values.length;
          x_mean = (values.length - 1) / 2;

          slope_top = 0;
          values.forEach(function(element, index, array) {
            slope_top += (index - x_mean) * (element - y_mean);
          });

          slope_bottom = 0;
          values.forEach(function(element, index, array) {
            slope_bottom += (index - x_mean) * (index - x_mean);
          });

          return slope_top / slope_bottom;
        }();

        organized_data[key][device_id].results[active_result[0]].performance_status = function(){
          var performance_slope_percent = function(){
            if (performance_slope == null) return null;
            return performance_slope * 100;
          }();

          var baseline_percent = function() {
            var baseline = get_baseline(organized_data[key][device_id].results[active_result[0]]);
            if (baseline == null) return null;
            if (baseline.performance_total_time == null) return null;
            // negative is faster, positive is slower 
            return (1.0 - (baseline.performance_total_time / organized_data[key][device_id].results[active_result[0]].performance_total_time )) * 100.0;
          }();

          var status_func = function(percent) {
            if (percent == null) return status_types.SUCCESS;
            if (percent > 10.0) return status_types.FAIL;
            if (percent > 0.05) return status_types.WARN;
            return status_types.SUCCUSS;
          };

          var slope_status = status_func(performance_slope_percent);
          var baseline_status = status_func(baseline_percent);

          if (baseline_percent == null) {
            return slope_status;
          } else {
            return baseline_status;
          }
        }();

        organized_data[key][device_id].results[active_result[0]].performance_slope = performance_slope;
      }

      key_pending = key_pending || (active_result[0] > -1 && organized_data[key][device_id].results[active_result[0]].pending);

      var normalize_status = function(lhs, rhs) {
        if (lhs == status_types.FAIL || rhs == status_types.FAIL) {
          return status_types.FAIL;
        } else if (lhs == status_types.WARN || rhs == status_types.WARN) {
          return status_types.WARN;
        } else {
          return status_types.SUCCESS;
        }
      };

      if (active_result[0] > -1) {
        if (organized_data[key][device_id].results[active_result[0]].unhandled_failure) {
          key_status = status_types.FAIL;
        } else {
          key_status = 
            normalize_status(key_status, 
                normalize_status(organized_data[key][device_id].results[active_result[0]].build_status,
                  normalize_status(organized_data[key][device_id].results[active_result[0]].test_status,
                    normalize_status(organized_data[key][device_id].results[active_result[0]].package_status,
                      normalize_status(organized_data[key][device_id].results[active_result[0]].performance_status,
                        organized_data[key][device_id].results[active_result[0]].coverage_status)
                      )
                    )
                  )
                );
        }
      }

    }

    organized_data[key].status = key_status;
    organized_data[key].pending = key_pending;
  }

  for (var i = 0; i < keys.length; ++i)
  {
    var key = keys[i];
    var row_style = function() {
      if (key == "develop" || key == "master") {
        return "style='border-top:2px dashed gray; border-bottom:2px dashed gray'";
      } else {
        return "";
      }
    }();
    document.writeln("<tr " + row_style +  ">");

    var github_status = 
      function() {
        if (organized_data[key].status == status_types.FAIL) {
          return "<p class='text-danger'><span class='octicon octicon-x'></span></p>";
        } else if (organized_data[key].pending) {
          return "<p class='text-warning'><fa fa-cog fa-spin'></span></p>";
        } else if (organized_data[key].status == status_types.WARN) {
          return "<p class='text-warning'><span class='octicon octicon-check'></span></p>";
        } else {
          return "<p class='text-success'><span class='octicon octicon-check'></span></p>";
        }
      }();

    var sha_link = organized_data[key].last_sha==null?"":("<a href='{{base_commit_url}}/" + organized_data[key].last_sha + "'>" + organized_data[key].last_sha.substr(0,12) + "...</a>");

    document.writeln("<td><h5><a href='" + base_url + "/" + encodeURIComponent(key) + "'>" + key + "</a><small><br/>" + sha_link + "</small>" + github_status + "</h5></td>");

    var build_status_cell = function(has_data, run_time, num_errors, num_warnings, status_type, num_passed, num_tests, failure_type, pending, is_left_cell, message_override, unhandled_failure, url, commit_url, asset_url, release_url, coverage_url, is_out_of_date, badge_override) {
      var message = function(){
        if (!has_data) {
          return "No Data";
        } else if (pending) {
          return "Pending";
        } else if (unhandled_failure) {
          return "Unhandled Failure";
        } else if (message_override != null) {
          return message_override;
        } else if (num_errors > 0 && num_warnings > 0) {
          return failure_type + " / Warnings";
        } else if (num_errors > 0) {
          return failure_type;
        } else if (num_warnings > 0) {
          return "Warnings";
        } else if (status_type == status_types.FAIL) {
          return failure_type;
        } else if (status_type == status_types.WARN) {
          return "Warnings";
        } else {
          return "Success";
        }
      }();

      var time = function(){
        if (pending || run_time == null)
        {
          return "";
        } else {
          return (Math.round(run_time * 100) / 100) + "s";
        }
      }();

      var cell_class = function(){
        if (!has_data) {
          return "info no-data";
        } else if (unhandled_failure) {
          return "Unhandled Failure";
        } else if (pending) {
          return "warning";
        } else if (status_type == status_types.WARN) {
          return "warning";
        } else if (status_type == status_types.FAIL) {
          return "danger";
        } else {
          return "success";
        }
      }();

      var badge = function(){
        if (badge_override != null) {
          return badge_override;
        }

        if (pending || !has_data) {
          return "";
        } else if (num_tests != null) {
          if (num_tests == 0) {
            return "NA";
          } else {
            return Math.floor(100 * (num_passed / num_tests)) + "%";
          }
        } else {
          return num_errors + " / " + num_warnings;
        }
      }();

      var out_of_date = function() {
        if (is_out_of_date) {
          return "<span title='Build is out of date.'><i class='fa fa-clock-o'></i></span>";
        } else {
          return "";
        }
      }();

      var asset = function() {
        if (asset_url != null) {
          return "<a href='" + asset_url + "'><i class='fa fa-file-text-o'></i></a>";
        } else {
          return "";
        }
      }();

      var coverage = function() {
        if (coverage_url != null) {
          return "<a href='" + coverage_url + "'><i class='fa fa-eye'></i></a>";
        } else {
          return "";
        }
      }();


      var release = function() {
        if (release_url != null) {
          return "<a href='" + release_url + "'><i class='fa fa-cloud-download'></i></a>";
        } else {
          return "";
        }
      }();

      var commit = function() {
        if (commit_url != null) {
          return commit_url;
        } else {
          return "";
        }
      }();

      return "<td " + (is_left_cell?"style='border-left:2px solid gray'":"") + " class='" + cell_class + "'>" +
        "<div class='table-box'><h6><a href='"+url+"'>" + message + "<span class='badge pull-right'>" + badge + "</span></a>" +
        "<br/><small>" + time + "<br/>" + commit + "</small> " + out_of_date +
        "</h6>" + coverage + asset + release + "<div id='sparkline-" + (++num_sparklines) + "' class='float-bottom'></div></div></td>";

    }

    for (var j = 0; j < device_ids.length; ++j) {
      var device_id = device_ids[j];
      var result = null;
      if (organized_data[key][device_id].active_result > -1) {
        result = organized_data[key][device_id].results[organized_data[key][device_id].active_result];
      }

      var pending = result==null?false:result.pending;
      var unhandled_failure = result==null?false:result.unhandled_failure;
      var baseurl = result==null?".":(".") + result.url;
      // has_data, run_time, num_errors, num_warnings, status_type, num_passed, num_tests, failure_type, pending, is_left_cell, message_override, unhandled_failure, url, commit_url, asset_url, release_url, coverage_url, is_out_of_date
      if (devices[device_id].build) {
        var error_count = result==null?0:result.build_error_count;
        var warning_count = result==null?0:result.build_warning_count;
        var status = result==null?null:result.build_status;
        var run_time = result==null?null:result.build_time;
        var commit_url = (result==null||result.commit_sha==null)?null:"<a href='{{base_commit_url}}/" + result.commit_sha + "'>" + result.commit_sha.substr(0, 11) + "</a>";
        var asset_url = result==null?null:result.asset_url;
        var release_url = null;
        var coverage_url = null;
        var is_out_of_date = result==null?false:(result.commit_sha != organized_data[key].last_sha);
        document.writeln(build_status_cell(result != null, run_time, error_count, warning_count, status, null, null, "Errors", pending, true, null, unhandled_failure, baseurl+"#build", commit_url, asset_url, release_url, coverage_url, is_out_of_date, null));

        if (table_type != table_types.RELEASE) {
          sparkline('#sparkline-' + num_sparklines, organized_data[key][device_id].results.map(
                function(element, index, array){
                  return { x: index, y: element.build_error_count + element.build_warning_count, sha: element.commit_sha };
                })
              );
        }
      }
      if (devices[device_id].test) {
        var passed_count = result==null?0:result.test_passed_count;
        var status = result==null?null:result.test_status;
        var test_count = result==null?null:result.test_count;
        var run_time = result==null?null:result.test_time;
        var commit_url = null;
        var asset_url = null;
        var release_url = null;
        var coverage_url = null;
        var is_out_of_date = false;
        document.writeln(build_status_cell(result != null && !result.analyze_only, run_time, null, null, status, passed_count, test_count, "Failures", pending, false, null, unhandled_failure, baseurl+"#test", commit_url, asset_url, release_url, coverage_url, is_out_of_date, null));

        if (table_type != table_types.RELEASE) {
          sparkline('#sparkline-' + num_sparklines, organized_data[key][device_id].results.map(
                function(element, index, array){
                  return { x: index, y: element.test_count  - element.test_passed_count, sha: element.commit_sha };
                })
              );
        }
      }
      if (devices[device_id].package) {
        var error_count = result==null?0:result.package_error_count;
        var warning_count = result==null?0:result.package_warning_count;
        var status = result==null?null:result.package_status;
        var run_time = result==null?null:result.package_time;
        var commit_url = null;
        var asset_url = null;
        var release_url = result==null?null:("{{base_release_url}}/"+result.tag_name);
        var coverage_url = null;
        var is_out_of_date = false;
        var message = function(){
          if (result == null) {
            return null;
          } else if (!result.test_run) {
            return "Not Run";
          } else {
            return null;
          }
        }();

        document.writeln(build_status_cell(result != null && !result.packaging_skipped, run_time, error_count, warning_count, status, null, null, "Errors", pending, false, message, unhandled_failure, baseurl+"#package", commit_url, asset_url, release_url, coverage_url, is_out_of_date, null));
        if (table_type != table_types.RELEASE) {
          sparkline('#sparkline-' + num_sparklines, organized_data[key][device_id].results.map(
                function(element, index, array){
                  return { x: index, y: element.package_warning_count + element.package_error_count, sha: element.commit_sha };
                })
              );
        }
      }
      if (devices[device_id].coverage) {
        var lines = result==null?null:result.coverage_lines;
        var total_lines = result==null?null:result.coverage_total_lines;
        var status = result==null?null:result.coverage_status
        var commit_url = null;
        var asset_url = null;
        var release_url = null;
        var coverage_url = result==null?null:result.coverage_url;
        var is_out_of_date = false;
        document.writeln(build_status_cell(result != null && result.coverage_enabled, null, 0, 0, status, lines, total_lines, "Errors", pending, false, "Percent Lines Covered", unhandled_failure, baseurl+"#coverage", commit_url, asset_url, release_url, coverage_url, is_out_of_date, null));
        if (table_type != table_types.RELEASE) {
          sparkline('#sparkline-' + num_sparklines, organized_data[key][device_id].results.map(
                     function(element, index, array){
                       return { x: index, y: element.coverage_lines / element.coverage_total_lines, sha: element.commit_sha };
                     })
            );
        }
      }

      if (devices[device_id].performance) {
        var total_time = result==null?null:result.performance_total_time;
        var commit_url = null;
        var asset_url = null;
        var release_url = null;
        var status = result==null?null:result.performance_status
        var coverage_url = null
        var is_out_of_date = false;
        var has_data = result != null && result.performance_total_time != null;
        var performance_badge = function(){
          if (result == null) {
            return null;
          } else if ( result.performance_slope == null || result.performance_status == status_types.WARN ) {
            return "<i class='fa fa-meh-o'></i>";
          } else if ( result.performance_status != status_types.FAIL ) {
            return "<i class='fa fa-smile-o'></i>";
          } else {
            return "<i class='fa fa-frown-o'></i>";
          }
        }();
        document.writeln(build_status_cell(has_data, null, 0, 0, status, null, total_time, "Errors", pending, false, "Performance Run Time", unhandled_failure, baseurl+"#performance", commit_url, asset_url, release_url, coverage_url, is_out_of_date, performance_badge));
        if (has_data && table_type != table_types.RELEASE) {
          sparkline('#sparkline-' + num_sparklines, organized_data[key][device_id].results.map(
                     function(element, index, array){
                     return { x: index, y: (element.performance_total_time>0 ? element.performance_total_time : null), sha: element.commit_sha };
                     })
            );
        }
      }
    }

    document.writeln("</tr>");
  }

  document.writeln("</table>");
  
}

build_status_table(table_types.BRANCH, data);

build_status_table(table_types.PULL_REQUEST, data);

if (!active_data_only) {
  build_status_table(table_types.RELEASE, data);
}
  </script>
  
  </div>
  
</body>
