<script>
var width = 80;
var height = 25;
var x = d3.scale.linear().range([0, width - 2]);
var y = d3.scale.linear().range([height - 4, 0]);
var line = d3.svg.line()
  //  .interpolate("basis")
  .x(function(d) { return x(d.x); })
  .y(function(d) { return y(d.y); });

function sparkline(elemId, data) {
  x.domain(d3.extent(data, function(d) { return d.x; }));
  y.domain(d3.extent(data, function(d) { return d.y; }));

  var svg = d3.select(elemId)
    .append('svg')
    .attr('width', width)
    .attr('height', height)
    .append('g')
    .attr('transform', 'translate(0, 2)');

  svg.append('path')
    .datum(data)
    .attr('class', 'path')
    .attr('d', line);
 
  for (var i = 0; i < data.length; ++i)
  {
    svg.append('circle')
      .attr('class', 'circle')
      .attr('cx', x(data[i].x))
      .attr('cy', y(data[i].y))
      .attr('r', 1.7);

    if (i == 0)
    {
      var url = "{{ base_commit_url }}/" + data[i].sha;
    } else {
      var url = "{{ base_compare_url }}/" + data[i-1].sha + "..." + data[i].sha;
    }

    svg.append('a').attr("xlink:href", url)
      .append('circle')
        .attr('class', 'mouse-over-circle')
        .attr('cx', x(data[i].x))
        .attr('cy', y(data[i].y))
        .attr('r', 5.5)
        .append('svg:title')
          .text(data[i].y + " messages\nsha: " + data[i].sha);
        
  }
}
</script>

{% if table_type == "branch" %}
  {% assign table_cols = "Build,Test" | split: "," %}
  {% assign keys = branch_names %}
  {% assign base_url = base_branch_url %}
  {% assign github_icon = "git-branch" %}
{% elsif table_type == "pull_request" %}
  {% assign table_cols = "Build,Test" | split: "," %}
  {% assign keys = pull_request_issue_ids %} 
  {% assign base_url = base_pull_request_url %}
  {% assign github_icon = "git-pull-request" %}
{% elsif table_type == "release" %}
  {% assign table_cols = "Build,Test,Package" | split: "," %}
  {% assign keys = tag_names %}
  {% assign base_url = base_release_url %}
  {% assign github_icon = "tag" %}
{% endif %}




{% assign num_table_cols = table_cols|size %}
<table class="table">
  <tr>
    <th></th>
    {% for device_id in device_ids %}
      {% if analysis_array[forloop.index0] == "true" %}
        {% assign colspan = 1 %}
      {% else %}
        {% assign colspan = num_table_cols %}
      {% endif %}
      <th style="border-left:2px solid gray" colspan={{ colspan }}><h4>
          {% if device_id contains "Win" %}<i class="fa fa-windows"></i>
          {% elsif device_id contains "Linux" %}<i class="fa fa-linux"></i>
          {% elsif device_id contains "Mac" %}<i class="fa fa-apple"></i>
          {% endif %} 

          {{device_id | replace: "-", " "}}
      </h4></th>
    {% endfor %}
  </tr>
  <tr>
    <td></td>
    {% for device_id in device_ids %}
      {% if analysis_array[forloop.index0] == "true" %}
        {% assign analysis_only = true %} 
      {% else %}
        {% assign analysis_only = false %}
      {% endif %}

      {% for col in table_cols %}
        {% if col == "Build" or analysis_only == false  %}
          <td {% if forloop.first %}style="border-left:2px solid gray"{% endif %}><h5>{{ col }}</h5></td>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tr>

  {% for key in keys %}
  <tr {% if key == "master" or key == "develop" %}style="border-top:2px dashed gray; border-bottom:2px dashed gray"{% endif %}>
    {% assign latest_date = 0 %}
    {% assign latest_sha = "" %}
    {% assign build_has_errors = false %}
    {% assign build_tests_failed = false %}
    {% assign build_unhandled_failure = false %}
    {% assign build_package_has_errors = false %}
    {% assign build_pending = false %}


    {% for post in results_posts %}
      {% if table_type == "release" %}{% assign test_key = post.tag_name %}{% endif %}
      {% if table_type == "branch" %}{% assign test_key = post.branch_name %}{% endif %}
      {% if table_type == "pull_request" %}{% assign test_key = post.pull_request_issue_id %}{% endif %}
      {% if test_key == key %}
        {% assign post_date = post.date | date: "%s" | minus: 0 %}
        {% if post_date > latest_date %}
          {% assign latest_date = post_date %}
          {% assign latest_sha = post.commit_sha %}
        {% endif %}

      {% endif %}
    {% endfor %}


    {% for post in results_posts %}
      {% if post.commit_sha == latest_sha %}
        {% if table_type == "release" %}{% assign test_key = post.tag_name %}{% endif %}
        {% if table_type == "branch" %}{% assign test_key = post.branch_name %}{% endif %}
        {% if table_type == "pull_request" %}{% assign test_key = post.pull_request_issue_id %}{% endif %}
        {% if test_key == key %}
          {% if post.test_count == 0 %}
            {% assign test_percent = 100 %}
          {% else %}
            {% assign test_percent = post.test_passed_count | times: 1.0 | divided_by: post.test_count | times: 100.0 %}
          {% endif %}

          {% if test_percent < 90.0 %}
            {% assign build_tests_failed = true %}
          {% endif %}

          {% if post.pending %}
            {% assign build_pending = true %}
          {% endif %}

          {% if post.unhandled_failure %}
            {% assign build_unhandled_failure = true %}
          {% endif %}

          {% if post.build_error_count > 0 %}
            {% assign build_has_errors = true %}
          {% endif %}

          {% if post.package_error_count > 0 %}
            {% assign build_package_has_errors = true %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}



    {% if build_tests_failed or build_unhandled_failure or build_has_errors or build_package_has_errors %}
      {% assign github_status_icon = "octicon octicon-x" %}
      {% assign github_status_color = "text-danger" %}
    {% elsif build_pending %}
      {% assign github_status_icon = "fa fa-cog fa-spin" %}
      {% assign github_status_color = "text-warning" %}
    {% else %}
      {% assign github_status_icon = "octicon octicon-check" %}
      {% assign github_status_color = "text-success" %}
    {% endif %}



    <td><h5><span class="octicon octicon-{{ github_icon }}"></span> <a href="{{ base_url }}/{{ key }}">{{ key }}</a><small><br/><a href="{{base_commit_url}}/{{latest_sha}}">{{ latest_sha | truncate: 12 }}</a></small><p class="{{github_status_color}}"><span class="{{ github_status_icon }}"></span></p>
</h5></td>

    {% for device_id in device_ids %}
      {% assign found_post = false %}
      {% if analysis_array[forloop.index0] == "true" %}
        {% assign analysis_only = true %} 
      {% else %}
        {% assign analysis_only = false %}
      {% endif %}

      {% if tag_names_list == "" %}
        {% assign tag_names_list = p.tag_name %}
      {% else %}
        {% capture tag_names_list %}{{tag_names_list}},{{p.tag_name}}{% endcapture %}
      {% endif %}


      {% comment %}  Build counts of messages to building graph and other data {% endcomment %}


      {% assign build_message_counts_list = "" %}
      {% assign test_message_counts_list = "" %}
      {% assign shas_list = "" %}
      {% for post in results_posts %}
        {% if table_type == "release" %}{% assign test_key = post.tag_name %}{% endif %}
        {% if table_type == "branch" %}{% assign test_key = post.branch_name %}{% endif %}
        {% if table_type == "pull_request" %}{% assign test_key = post.pull_request_issue_id %}{% endif %}

        {% if test_key == key and post.device_id == device_id  %}
          {% assign test_message_count = post.test_count | minus: post.test_passed_count %}
          {% assign build_message_count = post.build_error_count | plus: post.build_warning_count %}

          {% if test_message_counts_list == "" %}
            {% capture test_message_counts_list %}{{test_message_count}}{% endcapture %}
          {% else %}
            {% capture test_message_counts_list %}{{test_message_counts_list}},{{test_message_count}}{% endcapture %}
          {% endif %}

          {% if build_message_counts_list == "" %}
            {% capture build_message_counts_list %}{{build_message_count}}{% endcapture %}
          {% else %}
            {% capture build_message_counts_list %}{{build_message_counts_list}},{{build_message_count}}{% endcapture %}
          {% endif %}

          {% if shas_list == "" %}
            {% capture shas_list %}{{post.commit_sha}}{% endcapture %}
          {% else %}
            {% capture shas_list %}{{shas_list}},{{post.commit_sha}}{% endcapture %}
          {% endif %}
        {% endif %}

      {% endfor %}

      {% assign build_message_counts = build_message_counts_list | split: ',' %}
      {% assign test_message_counts = test_message_counts_list | split: ',' %}
      {% assign shas = shas_list | split: ',' %}

      <script>
var shas = [
{% for sha in shas reversed %}
"{{ sha }}" {% if forloop.last == false %} , {% endif %}
{% endfor %}
 ];
      </script>


      {% for post in results_posts %}
        {% if table_type == "release" %}{% assign test_key = post.tag_name %}{% endif %}
        {% if table_type == "branch" %}{% assign test_key = post.branch_name %}{% assign is_branch = true %}{% else %}{% assign is_branch = false %}{% endif %}
        {% if table_type == "pull_request" %}{% assign test_key = post.pull_request_issue_id %}{% endif %}
        {% if post.pull_request_issue_id and post.pull_request_issue_id != "" %}{% assign has_pull_request_id = true %}{% else %}{% assign has_pull_request_id = false %}{% endif %}


        {% if test_key == key and post.device_id == device_id and found_post != true %}

          {% if has_pull_request_id and is_branch %}
            {% assign cont = false %}
          {% else %}
            {% assign cont = true %}
          {% endif %}

          {% if cont == true %}

            {% assign found_post = true %}

            {% assign build_url = "." | append: post.url | append: "#build" %}
            {% assign failure_url = "." | append: post.url | append: "#failure" %}

            {% if post.pending %}<td style="border-left:2px solid gray" class="warning"><div class="table-box"><h6>Pending
            {% elsif post.unhandled_failure %}<td style="border-left:2px solid gray" class="danger"><div class="table-box"><h6><a href="{{build_url}}">Unhandled Failure<span class="badge pull-right">{{post.build_error_count}} / {{post.build_warning_count}}</a>
            {% elsif post.build_error_count > 0 %}<td style="border-left:2px solid gray" class="danger"><div class="table-box"><h6><a href="{{build_url}}">Errors / Warnings<span class="badge pull-right">{{post.build_error_count}} / {{post.build_warning_count}}</a>
            {% elsif post.build_warning_count > 0 %}<td style="border-left:2px solid gray" class="warning" ><div class="table-box"><h6><a href="{{build_url}}">Warnings<span class="badge pull-right">{{post.build_error_count}} / {{post.build_warning_count}}</a>
            {% else %}<td style="border-left:2px solid gray" class="success"><div class="table-box"><h6><a href="{{build_url}}">Succeeded<span class="badge pull-right">{{post.build_error_count}} / {{post.build_warning_count}}</a>
            {% endif %}
              <br/>
              <small>{% if post.pending == false and post.build_time %}{{ post.build_time }}s{% endif %}<br/><a href="{{base_commit_url}}/{{post.commit_sha}}">{{ post.commit_sha | truncate: 12 }}</a></small>{% if post.commit_sha != latest_sha %} <span title="Build is out of date."><i class="fa fa-clock-o"></i></span>{% endif %}
            </h6>
            <div id="build-status{{device_id | replace: ".", "-"}}{{key}}" class="float-bottom"></div></div>
            </td>

            <script>
if ("{{table_type}}" != "release") {
sparkline("#build-status{{device_id | replace: ".", "-"}}{{key}}", [
    {% for bc in build_message_counts reversed %}
    { x: {{forloop.index}}, y: {{bc}}, sha: shas[{{forloop.index0}}] }
      {% if forloop.last == false %}
        ,
      {% endif %}
    {% endfor %}

    ])
}
            </script>


            {% if post.test_count == 0 %}
            {% assign test_percent = 100 %}
            {% else %}
            {% assign test_percent = post.test_passed_count | times: 1.0 | divided_by: post.test_count | times: 100.0 %}
            {% endif %}
            {% assign test_failure_count = post.test_count | minus: post.test_passed_count %}

            {% capture test_percent_string %}{{test_percent}}{% endcapture %}
            {% assign test_percent_string = test_percent_string | split: "." | first %}


            {% assign test_url = "." | append: post.url | append: "#test" %}

            {% if analysis_only == false %}
              {% if post.pending %}<td class="warning"><div class="table-box"><h6>Pending
              {% elsif post.test_run != true %}<td class="danger"><div class="table-box"><h6><a href="{{test_url}}">Not Run<span class="badge pull-right">NA</span></a>
              {% elsif test_percent >= 99.999 %}<td class="success"><div class="table-box"><h6><a href="{{test_url}}">Success<span class="badge pull-right">{{test_percent_string}}%</span></a>
              {% elsif test_percent >= 90 %}<td class="warning"><div class="table-box"><h6><a href="{{test_url}}">Failures<span class="badge pull-right">{{test_percent_string}}%</span></a>
              {% else %}<td class="danger"><div class="table-box"><h6><a href="{{test_url}}">Failures<span class="badge pull-right">{{test_percent_string}}%</span></a>
              {% endif %}
              <small>{% if post.pending == false and post.test_time %}{{ post.test_time }}s{% endif %}</small></h6>
              <div id="test-status{{device_id | replace: ".", "-"}}{{key}}" class="float-bottom"></div></div></td>
            <script>
if ("{{table_type}}" != "release") {
  sparkline("#test-status{{device_id | replace: ".", "-"}}{{key}}", [
    {% for bc in test_message_counts reversed %}
    { x: {{forloop.index}}, y: {{bc}}, sha: shas[{{forloop.index0}}] }
      {% if forloop.last == false %}
        ,
      {% endif %}
    {% endfor %}

    ])
}
            </script>

            {% endif %}

            {% assign package_url = "." | append: post.url | append: "#package" %}

            {% if analysis_only == false and num_table_cols > 2 %}
              {% if post.pending %}<td class="warning"><h6>Pending</h6>
              {% elsif post.release_packaged == false or post.package_error_count > 0 %}<td class="danger"><h6><a href="{{package_url}}">Errors / Warnings<span class="badge pull-right">{{post.package_error_count}} / {{post.package_warning_count}}</a>
              {% elsif post.package_warning_count > 0 %}<td class="warning"><h6><a href="{{package_url}}">Warnings<span class="badge pull-right">{{post.package_error_count}} / {{post.package_warning_count}}</a>
              {% else %}<td class="success"><h6><a href="{{package_url}}">Succeeded<span class="badge pull-right">{{post.package_error_count}} / {{post.package_warning_count}}</a>
              {% endif %}
              <small>{% if post.pending == false and post.test_time %}{{ post.test_time }}s{% endif %}</small></h6>

              {% if post.release_packaged == true %}
              <a href="{{ base_url }}/{{ key }}"><i class="fa fa-cloud-download"></i></a>
              {% endif %}

              </td>
 
            {% endif %}

          {% endif %}
        {% endif %}
      {% endfor %}

      {% if found_post == false %}
        {% if analysis_array[forloop.index0] == "true" %}
          {% assign num_cols = 1 %}
        {% else %}
          {% assign num_cols = num_table_cols %}
        {% endif %}

        {% for i in (1..num_cols) %}
        <td  {% if forloop.first %}style="border-left:2px solid gray"{% endif %} class="info"><h6>No Data</h6></td>
        {% endfor %}
      {% endif %}

    {% endfor %}
  </tr>
  {% endfor %}
</table>


