{% assign base_branch_url = "https://github.com/" | append: base_repository | append: "/tree" %}
{% assign base_pull_request_url = "https://github.com/" | append: base_repository | append: "/pull" %}
{% assign base_release_url = "https://github.com/" | append: base_repository | append: "/releases/tag" %}
{% assign base_commit_url = "https://github.com/" | append: base_repository | append: "/commit" %}
{% assign base_compare_url = "https://github.com/" | append: base_repository | append: "/compare" %}
{% assign base_delete_url = "https://github.com/" | append: base_repository | append: "/delete/gh-pages/_posts" %}
