<title>{{ page.title }}</title>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-parsequery/jquery.parsequery.min.js"></script>
<script src="bower_components/tablesorter/dist/js/jquery.tablesorter.min.js"></script>

<!-- tablesorter widgets (optional) -->
<script src="bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/lodash/lodash.min.js"></script>

<link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">

<script src="bower_components/d3/d3.min.js"></script>
<style>

.float-bottom {
  position: absolute;
  top: 65px;
}

.table-box {
  position: relative;
  height: 100%;
  min-width: 80px;
  min-height: 90px;
}

.mouse-over-circle {
  fill: rgba(255,255,255,0);
  stroke: none;
}

.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}
</style>

<script src="data.js"></script>
<script src="helpers.js"></script>


<script>
/*
$(function() {
$('table').each(function() {
    var table = $(this);
    var rows = table.find('tr');
    var colsToRemove = [];
    rows.eq(2).find('td.no-data').each(function() {
      colsToRemove.push($(this)[0].cellIndex);
      });
    for (var row = 3; row < rows.length; ++row) {
      var cells = rows.eq(row).find('td');
      for (var i = colsToRemove.length - 1; i >= 0; --i) {
        if (!$(cells[colsToRemove[i]]).hasClass('no-data')) {
          colsToRemove.splice(i, 1);
        }
      }
    }
    var headerIndices = [];
    rows.eq(0).find('th').each(function(index, th) {
      var colspan = $(th).attr('colspan');
      if (colspan === undefined) {
        headerIndices.push(0);
      } else {
        headerIndices.push(headerIndices[index - 1] + parseInt(colspan, 10));
      }
    });

    colsToRemove.reverse().forEach(function(col) {
      if (headerIndices.indexOf(col) != -1) {
        rows.eq(0).find('th').eq(headerIndices.indexOf(col)).remove();
      }
      for (var row = 1; row < rows.length; ++row) {
        rows.eq(row).find('td').eq(col).remove();
      }
      });
});
});
*/

function parseDate(d) {
  var parsed_date = Date.parse(d);

  if (isNaN(parsed_date)) {
    return new Date(Date.parse(d.replace(/ /, "T").replace(/ /, "")));
  } else {
    return new Date(parsed_date);
  }
}

</script>

