
{% assign results_posts = site.tags.data %}
{% assign first_result_post = results_posts|sort: pull_request_issue_id| first %}
{% assign base_repository = first_result_post.repository %}

{% comment %}

This builds up the data lists used for displaying the dashboards.

the "minus: 0" is used to convert the date string into an integer for the > comparisons

{% endcomment %}

{% include common_variables.html %}

{% assign tag_names = "" | split: ";" %}
{% for p in results_posts %}
  {% if p.tag_name %}
    {% if tag_names contains p.tag_name %}
    {% else %}
      {% assign post_date = p.date | date: "%s" | minus: 0 %}
      {% if post_date > min_date %}
        {% assign tag_names = tag_names | push: p.tag_name %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign tag_names = tag_names | sort %}


{% assign has_master = false %}
{% assign has_develop = false %}

{% assign branch_names = "" | split: ";" %}
{% for p in results_posts %}
  {% if p.branch_name %}
    {% if (p.pull_request_issue_id and p.pull_request_issue_id != "") or branch_names contains p.branch_name %}
    {% else %}
      {% assign post_date = p.date | date: "%s" | minus: 0%}
      {% if post_date > min_date %}
        {% if p.branch_name == "master" %}
          {% assign has_master = true %}
        {% elsif p.branch_name == "develop" %}
          {% assign has_develop = true %}
        {% else %}
          {% assign branch_names = branch_names | push: p.branch_name %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign branch_names = branch_names | sort %}

{% assign branch_names_list = branch_names | join: ';' %}

{% if has_develop %}
  {% if branch_names_list == "" %}
    {% assign branch_names_list = "develop" %}
  {% else %}
    {% capture branch_names_list %}develop;{{branch_names_list}}{% endcapture %}
  {% endif %}
{% endif %}

{% if has_master %}
  {% if branch_names_list == "" %}
    {% assign branch_names_list = "master" %}
  {% else %}
    {% capture branch_names_list %}master;{{branch_names_list}}{% endcapture %}
  {% endif %}
{% endif %}

{% assign branch_names = branch_names_list | split: ';' %}

{% assign pull_request_issue_ids = "" | split: ';' %}
{% for p in results_posts %}
  {% if p.pull_request_issue_id and p.pull_request_issue_id != "" %}
    {% if pull_request_issue_ids contains p.pull_request_issue_id %}
    {% else %}
      {% assign post_date = p.date | date: "%s" | minus: 0%}
      {% if post_date > min_date %}
        {% assign pull_request_issue_ids = pull_request_issue_ids | push: p.pull_request_issue_id %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign pull_request_issue_ids = pull_request_issue_ids | sort %}


{% assign device_ids = "" | split: ';' %}
{% for p in results_posts %}
  {% if p.device_id %}
    {% if device_ids contains p.device_id %}
    {% else %}
      {% assign post_date = p.date | date: "%s" | minus: 0 %}
      {% if post_date > min_date %}
        {% assign device_ids = device_ids | push: p.device_id %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign device_ids = device_ids | sort %}

{% assign analysis_array = "" | split: ';' %}
{% for d in device_ids %}
  {% assign is_analysis = false %}
  {% for p in results_posts %}
    {% if p.device_id == d %}
      {% if p.analyze_only  %}
        {% assign is_analysis = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign analysis_array = analysis_array | push: is_analysis %}
{% endfor %}

{% assign coverage_array = "" | split: ';' %}
{% for d in device_ids %}
  {% assign is_coverage = false %}
  {% for p in results_posts %}
    {% if p.device_id == d %}
      {% if p.coverage_enabled %}
        {% assign is_coverage = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign coverage_array = coverage_array | push: is_coverage %}
{% endfor %}

